/* SkillsDisplay.css */
.skills-display {
	margin: 20px auto;
	max-width: 800px;
	background-color: #f0f0f0;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 20px;
	color: #333;
}

.skills-display h2 {
	color: #282c34;
	font-size: 24px;
	text-align: center;
}

.category-item {
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

.category-item:last-child {
	border-bottom: none;
}

.category-item h3 {
	margin: 0;
	color: #61dafb;
	font-size: 20px;
}

.skills-list {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	justify-content: center; /* Centers the skill items */
	padding-left: 0;
  }
  
  .skill-item {
	display: flex;
	align-items: center; /* Ensures vertical alignment */
	margin-bottom: 5px;
	padding: 2px 8px;
	background-color: #61dafb;
	color: #fff;
	border-radius: 4px;
	margin-right: 5px;
	font-size: 14px; /* Adjusted for consistency */
  }

  .skill-content {
	display: flex;
	align-items: center;
  }

.skill-item .skill-logo {
	height: 25px; /* Adjust based on your design */
	width: auto;
	margin-right: 10px;
	border-radius: 4px;
  }

.button-toggle {
	display: block;
	background-color: #282c34;
	color: #fff;
	text-align: center;
	padding: 10px;
	margin: 20px auto;
	border-radius: 4px;
	cursor: pointer;
	border: none;
	width: 200px;
}

.button-toggle:hover {
	background-color: #61dafb;
}

/* .json-display {
	white-space: pre-wrap;
	background-color: #eaeaea;
	padding: 10px;
	border-radius: 4px;
	margin-top: 15px;
} */
