/* StudiesDisplay.css */
.studies-display {
	margin: 20px auto;
	max-width: 800px;
	background-color: #526D82;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 20px;
	color: #333;
  }
  
  .studies-display h2 {
	color: #DDE6ED;
	font-size: 24px;
  }
  
  .study-item {
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 15px;
  }
  
  .study-item:last-child {
	border-bottom: none;
  }
  
  .study-item h3 {
	margin: 0;
	color: #27374D;
  }
  
  .study-item .dates, .study-item h4 {
	color: #9DB2BF;
	font-size: 14px;
  }
  
  .study-item .description {
	text-align: left;
	margin-top: 10px;
  }

  .skill-tag {
	color: #27374D;
	background-color: #DDE6ED;
  }
  