/* WorksDisplay.css */
.works-display {
	margin: 20px auto;
	max-width: 800px;
	background-color: #526D82;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 20px;
	color: #27374D;
  }
  
  .works-display h2 {
	color: #DDE6ED;
	font-size: 24px;
  }
  
  .work-item {
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 15px;
  }
  
  .work-item:last-child {
	border-bottom: none;
  }
  
  .work-item h3 {
	margin: 0;
	color: #27374D;
  }
  
  .work-item .dates {
	color: #9DB2BF;
	font-size: 14px;
  }
  
  .work-item .description, .work-item ul {
	text-align: left;
	margin-top: 10px;
  }
  
  .work-item ul {
	list-style-type: disc;
	padding-left: 20px;
  }
  
  .work-item li {
	margin-bottom: 5px;
  }
  
  .task-title {
	font-weight: bold;
  }
  
  .work-item .skills {
	margin-top: 10px;
  }
  
  .skill-tag {
	display: inline-block;
	background-color: #DDE6ED;
	color: #27374D;
	border-radius: 4px;
	padding: 2px 8px;
	margin-right: 5px;
	font-size: 12px;
  }
  
  .skill-tag:last-child {
	margin-right: 0;
  }
  